
<mat-card class="week-card" *ngFor="let week of weeks | async; let weekIndex = index; trackBy:week;">
  <mat-card-header>
    <mat-card-title><strong>Week Beginning:</strong> {{ week.weekBeginning.seconds * 1000 | date:'fullDate' }}  {{weekIndex}}</mat-card-title>
  </mat-card-header>
  <img matCardImage src="../../assets/golfBanner.jpg">
  <!--<div class="banner"></div>-->
  <mat-card-content>

     <!--Dashboard listing  -->
    <mat-list *ngIf="router.url === '/dashboard'">
      <mat-list-item *ngFor="let day of week.days; let DayIndex = index; trackBy:day;">
        <h2 matLine> {{ day }} :</h2>
        <p matLine>Course: {{ week.course }}, Tee Time: {{ week.teeTime }}</p>
        <mat-divider matLine></mat-divider>
        <div matLine>
          <h3>Available to play today</h3>
          <p class="{{ week.weekBeginning.seconds }},{{ day }}">
            <mat-slide-toggle
              id="{{week.weekBeginning.seconds}}"
              ngDefaultControl
              color="primary"
              (change)="availChange(playObj,$event, weekIndex, DayIndex)"
              [checked]="playObj[weekIndex][DayIndex]"
            >
              I'm available
            </mat-slide-toggle>
          </p>
        </div>
        <p matLine>
          <mat-chip-list >
            <span *ngIf="day === 'Sunday' && week.Sunday != 0">
              <h2 matLine>Already playing.</h2>
                <mat-chip color="primary" *ngFor="let player of week.Sunday"> <mat-icon matListIcon>thumb_up</mat-icon>{{ player }}</mat-chip>
            </span>
            <span *ngIf="day === 'Sunday' && week.Sunday == 0">
                <mat-chip color="primary"> <mat-icon matListIcon>thumb_down</mat-icon>No Players Available to play.</mat-chip>
            </span>
            <span *ngIf="day === 'Monday' && week.Monday != 0">
              <h2 matLine>Already playing.</h2>
                <mat-chip color="primary" *ngFor="let player of week.Monday"> <mat-icon matListIcon>thumb_up</mat-icon>{{ player }}</mat-chip>
            </span>
            <span *ngIf="day === 'Monday' && week.Monday == 0">
                <mat-chip color="primary"> <mat-icon matListIcon>thumb_down</mat-icon>No Players Available to play.</mat-chip>
            </span>
            <span *ngIf="day === 'Tuesday' && week.Tuesday != 0">
              <h2 matLine>Already playing.</h2>
                <mat-chip color="primary" *ngFor="let player of week.Tuesday"> <mat-icon matListIcon>thumb_up</mat-icon>{{ player }}</mat-chip>
            </span>
            <span *ngIf="day === 'Tuesday' && week.Tuesday == 0">
                <mat-chip color="primary"> <mat-icon matListIcon>thumb_down</mat-icon>No Players Available to play.</mat-chip>
            </span>
            <span *ngIf="day === 'Wednesday' && week.Wednesday != 0">
              <h2 matLine>Already playing.</h2>
                <mat-chip color="primary" *ngFor="let player of week.Wednesday"> <mat-icon matListIcon>thumb_up</mat-icon>{{ player }}</mat-chip>
            </span>
            <span *ngIf="day === 'Wednesday' && week.Wednesday == 0">
                <mat-chip color="primary"> <mat-icon matListIcon>thumb_down</mat-icon>No Players Available to play.</mat-chip>
            </span>
            <span *ngIf="day === 'Thursday'  && week.Thursday != 0">
              <h2 matLine>Already playing.</h2>
                <mat-chip color="primary" *ngFor="let player of week.Thursday"> <mat-icon matListIcon>thumb_up</mat-icon>{{ player }}</mat-chip>
            </span>
            <span *ngIf="day === 'Thursday' && week.Thursday == 0">
                <mat-chip color="primary"> <mat-icon matListIcon>thumb_down</mat-icon>No Players Available to play.</mat-chip>
            </span>
            <span *ngIf="day === 'Friday' && week.Friday != 0">
              <h2 matLine>Already playing.</h2>
                <mat-chip color="primary" *ngFor="let player of week.Friday"> <mat-icon matListIcon>thumb_up</mat-icon>{{ player }}</mat-chip>
            </span>
            <span *ngIf="day === 'Friday' && week.Friday == 0">
                <mat-chip color="primary"> <mat-icon matListIcon>thumb_down</mat-icon>No Players Available to play.</mat-chip>
            </span>
            <span *ngIf="day === 'Saturday' && week.Saturday != 0">
              <h2 matLine>Already playing.</h2>
                <mat-chip color="primary" *ngFor="let player of week.Saturday"> <mat-icon matListIcon>thumb_up</mat-icon>{{ player }}</mat-chip>
            </span>
            <span *ngIf="day === 'Saturday' && week.Saturday == 0">
                <mat-chip color="primary"> <mat-icon matListIcon>thumb_down</mat-icon>No Players Available to play.</mat-chip>
            </span>
          </mat-chip-list>
        </p>
        <mat-divider matLine></mat-divider>
      </mat-list-item>
    </mat-list>


    <!--HomePage listing -->
    <mat-list *ngIf="router.url === '/home'">
      <mat-list-item  *ngFor="let day of week.days; let DayIndex = index; trackBy:day; let c = count;">
        <h2 matLine> {{ day }} </h2>
        <p matLine>Course: {{ week.course }}, Tee Time: {{ week.teeTime }}</p>
        <mat-divider matLine></mat-divider>
        <p matLine>
          <mat-chip-list >
            <span *ngIf="day === 'Sunday' && week.Sunday != 0">
                <mat-chip color="primary" *ngFor="let player of week.Sunday"> <mat-icon matListIcon>thumb_up</mat-icon>{{ player }}</mat-chip>
            </span>
            <span *ngIf="day === 'Sunday' && week.Sunday == 0">
                <mat-chip color="primary"> <mat-icon matListIcon>thumb_down</mat-icon>No Players Available to play.</mat-chip>
            </span>
            <span *ngIf="day === 'Monday' && week.Monday != 0">
                <mat-chip color="primary" *ngFor="let player of week.Monday"> <mat-icon matListIcon>thumb_up</mat-icon>{{ player }}</mat-chip>
            </span>
            <span *ngIf="day === 'Monday' && week.Monday == 0">
                <mat-chip color="primary"> <mat-icon matListIcon>thumb_down</mat-icon>No Players Available to play.</mat-chip>
            </span>
            <span *ngIf="day === 'Tuesday' && week.Tuesday != 0">
                <mat-chip color="primary" *ngFor="let player of week.Tuesday"> <mat-icon matListIcon>thumb_up</mat-icon>{{ player }}</mat-chip>
            </span>
            <span *ngIf="day === 'Tuesday' && week.Tuesday == 0">
                <mat-chip color="primary"> <mat-icon matListIcon>thumb_down</mat-icon>No Players Available to play.</mat-chip>
            </span>
            <span *ngIf="day === 'Wednesday' && week.Wednesday != 0">
                <mat-chip color="primary" *ngFor="let player of week.Wednesday"> <mat-icon matListIcon>thumb_up</mat-icon>{{ player }}</mat-chip>
            </span>
            <span *ngIf="day === 'Wednesday' && week.Wednesday == 0">
                <mat-chip color="primary"> <mat-icon matListIcon>thumb_down</mat-icon>No Players Available to play.</mat-chip>
            </span>
            <span *ngIf="day === 'Thursday'  && week.Thursday != 0">
                <mat-chip color="primary" *ngFor="let player of week.Thursday"> <mat-icon matListIcon>thumb_up</mat-icon>{{ player }}</mat-chip>
            </span>
            <span *ngIf="day === 'Thursday' && week.Thursday == 0">
                <mat-chip color="primary"> <mat-icon matListIcon>thumb_down</mat-icon>No Players Available to play.</mat-chip>
            </span>
            <span *ngIf="day === 'Friday' && week.Friday != 0">
                <mat-chip color="primary" *ngFor="let player of week.Friday"> <mat-icon matListIcon>thumb_up</mat-icon>{{ player }}</mat-chip>
            </span>
            <span *ngIf="day === 'Friday' && week.Friday == 0">
                <mat-chip color="primary"> <mat-icon matListIcon>thumb_down</mat-icon>No Players Available to play.</mat-chip>
            </span>
            <span *ngIf="day === 'Saturday' && week.Saturday != 0">
                <mat-chip color="primary" *ngFor="let player of week.Saturday"> <mat-icon matListIcon>thumb_up</mat-icon>{{ player }}</mat-chip>
            </span>
            <span *ngIf="day === 'Saturday' && week.Saturday == 0">
                <mat-chip color="primary"> <mat-icon matListIcon>thumb_down</mat-icon>No Players Available to play.</mat-chip>
            </span>
          </mat-chip-list>
        </p>
        <mat-divider matLine></mat-divider>
      </mat-list-item>
    </mat-list>


  </mat-card-content>
</mat-card>

<br />
