<header>
  <nav role="navigation">
    <app-navigation></app-navigation>
  </nav>
</header>
<mat-card>
  <!--<h2>Welcome
    <strong *ngFor="let user of auth.userDetails | async">
      <span>User Name: {{ user.displayName }}</span>
    </strong>
  </h2>-->

  <!--<div *ngIf="auth.user | async as user">
    <h3>Howdy, {{ user.displayName }}</h3>
    <img class="card-img-top" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>
    <p class="text-truncate">UID: {{ user.uid }}</p>
    <button class="button" (click)="logout()">Logout</button>
  </div>-->


<div [@cards]>
  <div *ngFor="let date of weekBeginning" >
    <app-week-card [date] = date [currentUser]="currentUser" [golfers]="golfers"></app-week-card>
  </div>
</div>
</mat-card>
