
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>FireBase App</span>
      <span class="example-spacer"></span>

      <a mat-button="" [routerLink]="['/']">
        <mat-icon>home</mat-icon>
      </a>

      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
        Menu
      </button>
      <mat-menu #menu="matMenu">
        <div *ngIf="auth.authState">
          <mat-icon>golf_course</mat-icon>
          <span *ngFor="let user of currentUser">{{ user.displayName }}</span>
          <mat-divider></mat-divider>
        </div>

        <button *ngIf="auth.authState" [routerLink]="['/dashboard']" mat-menu-item>
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>
        <button *ngIf="!auth.authState" (click)="openDialog()" mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          Login
        </button>
        <button *ngIf="auth.authState" (click)="signOut()" mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          Logout
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>




